$primary-color: var(--primary-color);
$primary-bg: var(--primary-bg);
$secondary-bg: var(--secondary-bg);
$white-color: var(--white-color);
$border-color: var(--border-color);
$red-primary: var(--red-primary);
$secondary-color: var(--secondary-color);
$color-grey-100: var(--color-grey-100);
$color-grey-8B: var(--color-grey-8B);
$color-grey-active: var(--color-grey-active);
$blue: var(--blue);
$blue-active: var(--blue-active);
$green: var(--green);
$color-grey-opacity-5: var(--color-grey-opacity-5);
$box-shadow-top: var(--box-shadow-top);
$box-shadow-right: var(--box-shadow-right);
$box-shadow-bottom: var(--box-shadow-bottom);
$box-shadow-left: var(--box-shadow-left);
$box-shadow-xz: var(--box-shadow-xz);