$font-family-main: 'OpenSans-Regular', sans-serif;
$font-family-sb: 'OpenSans-SemiBold', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-35: 35px;
$font-size-32: 32px;
$font-size-43: 43px;
$font-12-12: #{$font-size-12} / #{$font-size-12} #{$font-family-main};
$font-12-12_sb: #{$font-size-12} / #{$font-size-12} #{$font-family-sb};
$font-14-14: #{$font-size-14} / #{$font-size-14} #{$font-family-main};
$font-14-14_sb: #{$font-size-14} / #{$font-size-14} #{$font-family-sb};
$font-16-22: #{$font-size-16} / #{$font-size-22} #{$font-family-main};
$font-16-22_sb: #{$font-size-16} / #{$font-size-22} #{$font-family-sb};
$font-14-19: #{$font-size-14} / #{$font-size-19} #{$font-family-main};
$font-14-19_sb: #{$font-size-14} / #{$font-size-19} #{$font-family-sb};
$font-20-20: #{$font-size-20} / #{$font-size-20} #{$font-family-main};
$font-20-20_sb: #{$font-size-20} / #{$font-size-20} #{$font-family-sb};
$font-20-28: #{$font-size-20} / #{$font-size-28} #{$font-family-main};
$font-20-28_sb: #{$font-size-20} / #{$font-size-28} #{$font-family-sb};
$font-22-22: #{$font-size-22} / #{$font-size-22} #{$font-family-main};
$font-22-22_sb: #{$font-size-22} / #{$font-size-22} #{$font-family-sb};
$font-24-32: #{$font-size-24} / #{$font-size-32} #{$font-family-main};
$font-24-32_sb: #{$font-size-24} / #{$font-size-32} #{$font-family-sb};
$font-24-30: #{$font-size-24} / #{$font-size-30} #{$font-family-main};
$font-24-30_sb: #{$font-size-24} / #{$font-size-30} #{$font-family-sb};
$font-26-26: #{$font-size-26} / #{$font-size-26} #{$font-family-main};
$font-26-26_sb: #{$font-size-26} / #{$font-size-26} #{$font-family-sb};
$font-26-32: #{$font-size-26} / #{$font-size-32} #{$font-family-main};
$font-26-32_sb: #{$font-size-26} / #{$font-size-32} #{$font-family-sb};
$font-26-35: #{$font-size-26} / #{$font-size-35} #{$font-family-main};
$font-26-35_sb: #{$font-size-26} / #{$font-size-35} #{$font-family-sb};
$font-32-32: #{$font-size-32} / #{$font-size-32} #{$font-family-main};
$font-32-32_sb: #{$font-size-32} / #{$font-size-32} #{$font-family-sb};
$font-32-43: #{$font-size-32} / #{$font-size-43} #{$font-family-main};
$font-32-43_sb: #{$font-size-32} / #{$font-size-43} #{$font-family-sb};
$font-montserrat-32-32: #{$font-size-32} / #{$font-size-32} #{$font-family-montserrat}