.app-light-theme {
  --primary-bg: #FAFAFA;
  --secondary-bg: #F5F5F5;
  --white-color: #FFFFFF;
  --primary-color: #2A2A2A;
  --border-color: #E5E5E5;
  --red-primary: #E21A1A;
  --secondary-color: #828282;
  --color-grey-100: #636363;
  --color-grey-8B: #8B8B8B;
  --color-grey-active: #F8F8F8;
  --blue: #3376E0;
  --blue-active: #2F6DCE;
  --green: #5CBF20;
  --color-grey-opacity-5: rgba(0, 0, 0, 0.05);
  --box-shadow-top: rgba(161, 161, 161, 0.10);
  --box-shadow-right: rgba(161, 161, 161, 0.09);
  --box-shadow-bottom: rgba(161, 161, 161, 0.05);
  --box-shadow-left: rgba(161, 161, 161, 0.01);
  --box-shadow-xz: rgba(161, 161, 161, 0.00);
}