@mixin font-face($file-path, $font-family, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $font-family;
    font-style: $style;
    src: url($file-path) format('truetype');
  }
}
